# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# Django
*.sqlite3
/backend/staticfiles/
/backend/media/
/backend/data/

# Translations compiled
*.mo

# Env
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
